<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oceny filmów</title>
</head>
<body>
    <h1>Oceny filmów</h1>
    <table border="1">
        <tr>
            <th>UserID</th>
            <th>MovieID</th>
            <th>Ocena</th>
            <th>Timestamp</th>
            <th>Tytuł</th>
        </tr>
        {% for rating in ratings %}
        <tr>
            <td>{{ rating['UserID'] }}</td>
            <td>{{ rating['MovieID'] }}</td>
            <td>{{ rating['Rating'] }}</td>
            <td>{{ rating['Timestamp'] }}</td>
            <td>{{ rating['Title'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ url_for('index') }}">Powrót do listy</a>
</body>
</html>
